.join_container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}

.join_left,
.join_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.join_left {
  background-color: #181c14;
  color: #ffffff;
  text-align: center;
  flex: 1 1 45%;
}

.join_right {
  background-color: #f5f5f5;
  flex: 1 1 55%;
}

.join_left h2,
.join_right h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.join_button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #181c14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.join_button:hover {
  background-color: #f0f0f0;
}

.join_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 15px;
}

.join_form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.join_submit {
  padding: 10px;
  background-color: #181c14;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.form_text {
  font-size: 0.9rem;
  color: #181c14;
  text-align: center;
}

.form_text span {
  color: #181c14;
  font-weight: bold;
  border-bottom: 3px solid #181c14;
  cursor: pointer;
}

.join_link {
  text-decoration: none;
  color: var(--clr-white);
}

.password_container {
  position: relative;
  display: flex;
  align-items: center;
}

.password_container input {
  flex: 1;
  padding-right: 40px;
}

.toggle_password {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
}

.login_result {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  color: red;
}
.error_text {
  font-size: 0.9rem;
  color: red;
  text-align: center;
}
.google_login button {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: #181c14;
  border: 2px solid #181c14;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 900px) {
  .join_left {
    width: 40%;
  }
  .join_right {
    width: 60%;
  }

  .join_left h2,
  .join_right h2 {
    font-size: 1.8rem;
  }

  .join_form input {
    font-size: 0.9rem;
  }

  .join_button,
  .join_submit {
    padding: 8px 16px;
  }
}

@media (max-width: 700px) {
  .join_container {
    flex-direction: column;
  }
  .join_left {
    width: 100%;
    height: 30vh;
  }
  .join_right {
    width: 100%;
    height: 70vh;
  }

  .join_left h2,
  .join_right h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 400px) {
  .join_container {
    flex-direction: column;
  }
  .join_left {
    height: 10vh;
  }
  .join_right {
    height: 90vh;
  }
}
